PORT=5002
DATABASE_URL=
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
ENCRYPTION_KEY=
ARCHIVING_DURATION=6 
JWT_SECRET=
PAYSTACK_SECRET_KEY=
INTEREST_CALCULATION_TIME=00:00
AUTO_SAVE_CHECK_INTERVAL=60
MINIMUM_DEPOSIT_AMOUNT= 100,
DEFAULT_INTEREST_RATE=5.0
ENV_URL=http://localhost:3000
CLIENT_URL=